@media (min-width: 1920px) {
	.works {
		&_content {
			.content {
				&_images {
					.devices {
						perspective: 4800px;
						--thickness: 13px;
					}
				}
			}
		}
	}
}
@media (min-width: 1280px) and (max-width: 1535.9px) {
	.works {
		&_content {
			.content {
				&_images {
					.devices {
						perspective: 3000px;
						--thickness: 8px;
					}
				}
			}
		}
	}
}
@media (min-width: 962px) and (max-width: 1279.9px) {
	.works {
		&_content {
			grid-template-columns: 33% 65%;
			grid-gap: 2%;
			.content {
				&_images {
					.devices {
						&_lid {
							transform: rotateX(0deg);
							animation: none;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 961.9px) {
	.works {
		&_content {
			grid-area: 2/2/11/14;
			grid-template-columns: 100%;
			.content {
				&_images {
					.devices {
						&_lid {
							transform: rotateX(0deg);
							animation: none;
						}
					}
				}
			}
		}
		&_navigator {
			justify-self: center;
		}
	}
}
@media (max-width: 767.9px) {
	.works {
		&_content {
			grid-area: 2/2/13/14;
			display: block;
			.content {
				&_details {
					position: absolute;
					z-index: 5;
					bottom: 0;
					justify-content: flex-end;
					margin: calc(1 * var(--section-unit)) 0;
					backdrop-filter: blur(1.5px);
				}
				&_images {
					position: absolute;
					z-index: 2;
					height: calc(80% - 2 * var(--section-unit));
					aspect-ratio: 8/16;
					top: 0;
					right: 0;
					margin: calc(1 * var(--section-unit)) 0;
					.devices {
						&_lid {
							transform: rotateX(0deg);
							animation: none;
						}
					}
				}
			}
		}
		&_navigator {
			grid-area: 2/2/12/3;
			justify-self: center;
			align-self: center;
			.list {
				flex-direction: column;
			}
		}
	}
}
