@import "../../../_init/colors/colors";
.works.section-light {
	background-color: $coolGray-50;
	.works {
		&_navigator {
			.list .list_item {
				.button {
					background: transparent;
					.text {
						color: $coolGray-800;
					}
				}
				&-active {
					@extend .list_item;
				}
			}
		}
		&_content {
			.content_details {
				.title {
					color: $summer-sky;
				}
				.technologies {
					.list_item {
						.text-tag {
							background: $sky-100;
							color: $summer-sky;
						}
					}
				}
				.description {
					color: $coolGray-600;
				}
			}
		}
	}
}
